.big{
    width: 600px;
    height: 250px;
    background-color: aquamarine;
    position: absolute;
    bottom:0px;
    right:0;

}
.small{
    width: 170px;
    height: 170px;
    background-color: antiquewhite;
    position:absolute;
}

.lo2{
    bottom:0px;
}
.lo3{
    top:0px;
    right:0px;
}


    /* align-items: center;
    justify-content: center; */
    /* absolute 기준이 relative 가진 부모 기준 */

.center{
    position:fixed;
    right:50%;
    bottom:50%;
}